*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color:#333;
}


/* header 시작 */

header{
    width:100%;
    border-bottom:1px solid #ccc;
}
.header_wrap {
    width:1000px;
    height:75px;
    margin: 0 auto;
    position: relative;
}
.header_wrap img{
    width:8%;
    float:left;
    margin-top:17px;
    margin-left:10px;
}
.menu_icon{
    float:right;
    margin-top:25px;
    margin-right:20px;
    cursor: pointer;
}

.menu_bar {
    position: absolute;
    top: 60px;
    right: 20px; 
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    padding: 10px;
    width: 100px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 9999;
    font-family: "Pretendard Variable";
    text-align: center;
  }
  
 
.menu_bar.show {
   opacity: 1;
   transform: translateY(0);
   pointer-events: auto;
}
  
.menu_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.menu_bar li {
  margin: 5px 0;
  height:30px;
}
  
.menu_bar a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

/* 헤더 끝 */

/* 메인이미지 시작 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

section{
    width:100%;
    background-color: #f5f1ed;
}
.section_wrap {
    margin: 0 auto;
    position: relative;
    display: flex;
    height: 450px;
    background-color: #ccc;
    background: url(../../public/img/bg_intro.jpg) 50% 50% no-repeat;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.section_wrap > p{
    color:#fff;
    margin: 0 auto;
    letter-spacing: 0;
    width:1000px;
    text-align: left;
    font-weight: 700;
    font-size:2em;
    font-family: "Pretendard Variable";
    margin-bottom:20px;
    margin-top:20px;
    line-height: 45px;
}
.search_form{
    width:1000px;
    height:160px;
    background-color: #fff;
    border-radius: 16px;
    margin: 0 auto;
    padding:10px 20px;
    box-sizing: border-box;
}
.search_form p {
    font-family: "Pretendard Variable";
    border-bottom: 1px solid #ccc;
    padding-bottom:10px;
    text-align: left;
    font-size:1.1em;
    margin-top:20px;
    margin-bottom: 20px;
}
.search_form input{
    width: 35%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 35px;
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    padding: 4px 14px;
    border:none;
    font-family: "Pretendard Variable";
    float: left;
    margin-right:10px
}
.category,
.location{
    width: 20%;
    border-radius: 8px;    
    height: 35px;
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    padding: 4px 14px;
    border:none;
    font-family: "Pretendard Variable";
    float:left;
    margin-right:10px;
    line-height: 35px;
    cursor: pointer;
    position: relative;
}
.category:hover,
.location:hover{
    background-color: rgb(235 235 235 / var(--tw-bg-opacity));
}
.searching{
    width:12%;
    padding: 4px 14px;
    border:none;
    border-radius: 8px;    
    height: 43px;
    font-family: "Pretendard Variable";
    background-color: #1273e4;
    color: #fff;
    cursor: pointer;
}

.dropdown_menu1,
.dropdown_menu2 {
    position: absolute;
    overflow: hidden;
    top: 40px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 220px;
    border-radius: 5px;
}
.dropdown_menu1{
    width:500px;
    overflow-y: scroll;
}
.dropdown_menu2{
    height: 335px;
}
  
.main_location,
.dropdown_menu2 ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}
  
.main_location li,
.dropdown_menu2 li {
  padding: 5px;
  cursor: pointer;
}

.main_location{
    width:50px;
    height:455px;
    height:auto;
    border-right: 1px solid #ccc;
    float:left;
    padding-bottom: 80px;
}
.main_location:nth-child(2){
    padding-bottom: 170px;
}
.main_location li{
    text-align: center;
    
}
  
.sub_locations{
    margin-top:-30px;
   
}
.sub_locations li{
    float:left;
    list-style: none;
    padding:5px;
    font-size:0.9em;
    width:95px;
}

/* 메인이미지 끝 */


