#section5_wrap {
    width: 85%;
    margin: 40px auto;
    height: 80vh;
    display: flex;
    align-items: center;
}

#section5_wrap h3 {
    text-align: center;
    margin: 10px;
}

.period {
    margin-left: 20px;
}

.month, .year {
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-bottom: 40px;
    width: 800px;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer; 
}

.month:hover, .year:hover {
    background-color: #ddd;
}

.month-content, .year-content {
    margin-left: 100px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}

.month.active, .year.active {
    background-color: rgba(0, 150, 250, .4);
}
.creditDataForm {
    border: 1px solid #010101;
    margin-left: 10%;
    width: 800px;
    height: 600px;
    text-align: center;
    border-radius: 7px;
}
.creditDataForm > div {
    margin-bottom: 15px;
}

#section5_wrap h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
label {
    font-size: 18px;
    margin-right: 10px;
}
#section5_wrap input[type="text"]{
    width: 400px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
}
#section5_wrap input#phone{
    margin-right: 35px;
}

#section5_wrap input[type="email"] {
    width: 400px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#section5_wrap input[type="number"] {
    width: 400px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 30px;
}

#section5_wrap select {
    width: 100px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
#section5_wrap input[type="submit"] {
    width: 200px;
    height: 50px;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 17px;
    border-radius: 4px;
}
#section5_wrap input[type="submit"]:hover {
    cursor: pointer;
}



