@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
.my_group_article {
    width: 100%;
    min-height: 75vh;
    background-color: #fff;
    margin-top: 60px;
    font-family: "Pretendard Variable";
}
.my_group_article_wrap {
    width: 60%;
    margin: 0 auto;
    border: none;
    display: flex;
}
.side_bar {
    width: 210px;
    height: 10%;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 30px;
    border-radius: 4px;

}
.side_bar ul li img {
    display: none; 
    width: 20px;
}
.side_bar ul li.active {
    background-color: #ddd;
}
.side_bar ul li.active img {
    display: block; 
}
.side_bar ul {
    text-align: left;
}
.side_bar ul li {
    border-bottom: 1px solid #ddd;
    padding: 14px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.my_group_list {
    width:1000px;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    min-height:400px;
    margin-bottom: 50px;
}
  
.my_group_list h2 {
    text-align: left;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.group_table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.group_table th,
.group_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align:center;
}

.group_table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}


.group_table img.my_group_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Premium member swith */
.premium {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #ccc;
    /* display: flex; */
    /* align-items: center; */
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-switch.on {
    background-color: #4caf50;
}

.toggle-switch .slider {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.toggle-switch.on .slider {
    transform: translateX(30px);
}

/* 기본 스타일 */
.tab_navigation h2 {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    float:left;
}

/* 활성화된 상태 스타일 */
.tab_navigation h2.active {
    font-weight: bold;
    color: #1273e4; /* 강조 색상 */
    border-bottom: 2px solid #1273e4; /* 강조선 */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width:400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background: red;
  color: white;
}

.modal-buttons button:last-child {
  background: gray;
  color: white;
}

  
