@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 아티클 시작 */

.home_article{
    width:100%;
    font-family: "Pretendard Variable";
    background-color: #f3f3f3;
    height: auto;
    padding-bottom:10px;
    min-height: 95vh;
}

.home_nav {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    border-bottom: 1px solid #ccc;
}

.home_nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.home_nav ul > li {
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    box-sizing: border-box;
}
.home_nav li.active {
    border-bottom: 2px solid #414141; /* 활성화된 탭 강조 */
    font-weight: bold;
  }

.home_wrap{
    width:1000px;
    margin:0 auto;
    margin-top:20px;
}
.home_info{
    width:210px;
    height:400px;
    float:left;
    position: sticky;
    top:20px;
    z-index: 1
}
.home_info img{
    width:210px;
    height:210px;
}
.home_info h2{
    margin-top:20px;
    margin-bottom:10px;
}
.home_info > .info_member{
    display: inline-block;
    margin-right:10px;
    color:#555;
    font-size:0.9em;
}
.home_info > .info_member:last-child{
    margin-right:0px;
}
.info_intro{
    margin-top: 10px;
    color:#555;
    font-size:0.9em;
    margin-bottom:10px;
}
.group_access{
    width:210px;
    height:40px;
    background-color: #444a61;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}
.info_right{
    margin-top: 10px;
    color:#555;
    font-size:0.9em;
}
.home_board{
    width:550px;
    margin-left:240px;    
    position: relative;
}
.home_search{
    margin-bottom: 15px;
}
.home_search input{
    width:550px;
    height:40px;
    border: none;
    outline: none;
    padding:5px 10px;
    font-family: "Pretendard Variable";
    color:#555;
    font-size:0.9em;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}
.home_search svg{
    position: absolute;
    right:15px;
    top:12px;
    color:#555;
    cursor: pointer;
}
.board_write{
    width:550px;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #444a61;
    color: #fff;
    margin-bottom:20px;
}
.board_list{
    width:550px;
    height:auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
}
.author_info{
   padding:20px;
   position: relative;
}
.author_info > img{
    width:35px;
    height:35px;
    border-radius: 50%;
    float:left;
    margin-right:10px;
}
.author_nick{
    font-size:0.9em;
    margin-bottom: 5px;
}
.author_date{
    font-size:0.8em;
    color:#555;
    float:left;
}
.author_info svg{
    float:right;
    position: absolute;
    top:30px;
    right:20px;
    cursor: pointer;
    color:#555;
}
.author_board{
    padding: 0 20px 20px;
    margin-top:10px;
}
.author_board img{
    margin-top:10px;
    width:510px;
}
.comment_list{
  border-top: 1px solid #ccc;
  padding:10px 20px;
}
.comment_list h4{
  margin-bottom: 10px;
}
.comment_list img{
  width:30px;
  height:30px;
  margin-top:3px;
  float:left;
}
.comment_list p {
  margin-bottom:2px;
  padding-left:40px;
}
.list_author{
  font-weight: 600;
  font-size:0.9em;
}
.list_comment{
  font-size:0.9em;
}
.list_date{
  color:#414141;
  font-size:0.8em;
}

.board_comment{
    border-top: 1px solid #ccc;
    padding: 15px 0;
}
.comment_view {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.comment_view img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left:10px;
}
  
.comment_view input {
  flex: 1; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-family: "Pretendard Variable";
  color:#555;
  font-size:0.9em;
}
  
.comment_button {
  width:65px;
  height: 35px;
  line-height: 35px;
  background-color: #444a61;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-right:10px;
  border-radius: 15px;
  font-size:0.9em;
}
.moim_board{
    width:550px;
    margin-left:240px;
    border-radius: 30px;
}
.moim_board h2 {
  text-align: center;
  margin-bottom: 20px;
}

.schedule_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.schedule_card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.schedule_card h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.schedule_card p {
  margin: 5px 0;
}

.schedule_form {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.schedule_form h3 {
  margin-bottom: 15px;
}

.schedule_form input,
.schedule_form textarea,
.schedule_form button {
  display: block;
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.schedule_form textarea {
  resize: none;
}

.schedule_form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.schedule_form button:hover {
  background-color: #0056b3;
}
.member_board{
    width:550px;
    background-color: #fff;
    margin-left:240px;
    position:relative;
    min-height:700px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.member_search{
    padding:20px;
}
.member_search input{
    width:510px;
    padding:10px;
    box-sizing: border-box;
    outline: none;
    color:#555;
    font-size:0.9em;
    border: 1px solid #ccc;
    margin-top:20px;
    font-family: "Pretendard Variable";
}
.member_search svg{
    position: absolute;
    top:75px;
    right:30px;
    cursor: pointer;
    color:#555;
}
.member_list_wrap{
    border-top:1px solid #ccc;
    height:auto;
}
.member_list{
    padding:20px;
}
.member_info{
   margin-top:20px;
   border-bottom: 1px solid #ccc;
   padding-bottom:10px;
 }
 .member_info img{
     width:50px;
     height:50px;
     border-radius: 50%;
     float:left;     
     margin-right:20px;
 }
 .member_nick{
    margin-bottom: 5px;
    line-height: 50px;
 }

 .post_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .post_content {
    background: white;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .post_content input[type=text],
  .modal_contents input[type=text] {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding-bottom:50px;
    padding-left:10px;
    box-sizing: border-box;
  }
  .post_content input[type=file]{
    width:100%;
  }
  
  .post_buttons,
  .modal_buttons {  
    justify-content: flex-start
  }
  
  .post_buttons button,
  .modal_buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .post_buttons button:first-child,
  .modal_buttons button:first-child {
    background-color: #f0f0f0;
    color:#000
  }
  
  .post_buttons button:last-child,
  .modal_buttons button:last-child {
    background-color: #cac8c8;
    color: white;
  }

  .post_item{
    margin-bottom:20px;
    background-color: #fff;
  }

  .post_modal, .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .post_content, .modal_contents {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
  }
  
  .post_buttons, .modal_buttons {
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 20px;
  }
  
  .leader{
    width:10px;
    height:10px;
  }

  .new_post{
    background-color: #fff;
    text-align: center;
  }
  
  .role-normal {
    display: none;
  }
  .role-manager {
    padding:2px 10px;
    background-color: #b9c0b8;
    color: #fff;
    font-size: 0.8em;
    border-radius: 12px;
    margin-left:10px;
  }
  .role-leader {
    padding:2px 10px;
    background-color: #47e427;
    color: #fff;
    font-size: 0.8em;
    border-radius: 12px;
    margin-left:10px;
  }
  
  
  